.advantage {
    @extend %section;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
}

.advantage__container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    max-width: 450px;
    background-color: var(--primary-background-color);
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}

.advantage__list {
    @extend %list;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
        gap: 0;
    }
}

.advantage__icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.advantage__item {
    width: 450px;

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
        @media screen and (min-width: $desktop) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: $desktop) {
        width: 270px; 
    }
}

.advantage__title {
    @include font(14px, 700, 1.14);
    margin-bottom: 10px;

    text-transform: uppercase;
    text-align: center;

    color: var(--title-text-color);

    @media screen and (min-width: $desktop) {
        text-align: left;
        
    }
}
