.header {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: $desktop) {
        border-bottom: 1px solid var(--header-border);
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $desktop) {
        align-items: baseline;
    }
}
