:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2F303A;
    --logo-color: #000000;
    --white: #FFFFFF;
    --header-border: #ECECEC;
    --projects-border: #EEEEEE;
    --social-link: #AFB1B8;
    --button-hover: #188CE8;
    --hero-background: #C4C4C4;
}

